#main-content {
  width: 100vw;
  height: 100vh;
  color: white;
  /* Add Background Color Below this comment */

  /* Add Background Color Above this comment */
}

.text-yellow {
  /* Add color below this comment */

  /* Add color above this comment */
  font-size: 24px;
}
.text-roboto {
  /* Add Font Family below this comment */

  /* Add Font Family above this comment */
  font-size: 24px;
}
.text-lg {
  /* Add a Font Size below this comment */

  /* Add a Font Size above this comment */
}

h1 {
  /* Add color below this comment */

  /* Add color above this comment */
  font-size: 32px;
}